.formData {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  box-shadow: 0 2px 3px #000;
  border: 1px solid #518be8;
  padding: 10px;
  box-sizing: border-box;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

@media (min-width: 600px) {
  .formData {
    width: 500px;
  }
}

.formData input {
  width: 100%;
  padding: 10px;
  margin: 10px auto;

  outline: none;
  border: 1px solid #518be8;
  background-color: white;
  font: inherit;

  display: block;

  box-sizing: border-box;
}

.formData button {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #518be8;
  background-color: #518be8;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.formData button:hover {
  background-color: #fff;
  color: #518be8;
  /* border: 1px solid #518be8; */
}
